Repository sensor-management-system/orchestration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Path conditions:
  build-backend-test-image: any of: backend/**/*, .gitlab-ci.yml
  check-lint-frontend: any of: frontend/**/*, .gitlab-ci.yml
  check-build-frontend: any of: frontend/**/*, .gitlab-ci.yml
  check-lint-backend: any of: backend/**/*, .gitlab-ci.yml
  extract-openapi: any of: backend/**/*, .gitlab-ci.yml
  test-frontend-unit-tests: any of: frontend/**/*, .gitlab-ci.yml
  test-backend-image: any of: backend/**/*, .gitlab-ci.yml
  test-openapi: any of: backend/**/*, .gitlab-ci.yml

Strip redundant web-intern-stage TLS from SMS stage ingresses
  docker/deployment/ufz/staging/values.yaml
Due: none

Strip redundant web.app.ufz.de TLS from SMS ingresses
  docker/deployment/ufz/prod/values.yaml
Due: none

Update KIT prod docker-compose script
  CHANGELOG.md
  docker/deployment/kit/prod/docker-compose.yml
Due: none

Update the b2inst mapper to use the ROR identifier type for the owner
  CHANGELOG.md
  backend/app/project/extensions/b2inst/mappers.py
  backend/app/project/tests/extensions/b2inst/test_mappers.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

KIT deployment: use normal entrypoint for backend container
  CHANGELOG.md
  docker/deployment/kit/prod/docker-compose.yml
Due: none

Add release notifications on matrix
  .gitlab-ci.yml
  CHANGELOG.md
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Build backend image for KIT to registry
  .gitlab-ci.yml
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Use pre-built container image for backend of KIT staging
  .gitignore
  CHANGELOG.md
  docker/deployment/kit/staging/docker-compose.yml
Due: none

Bump backend base image to Debian Trixie
  CHANGELOG.md
  backend/Dockerfile
  backend/docker/deployment/ufz/Dockerfile_Prod
  backend/docker/deployment/ufz/Dockerfile_Stage
  docker-compose.yml
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Use pre-built container image for backend of KIT prod
  CHANGELOG.md
  docker/deployment/kit/prod/docker-compose.yml
Due: none

Update the container registry for the minio images
  CHANGELOG.md
  docker-compose.yml
  docker/deployment/fzj/dev/docker-compose.yml
  docker/deployment/fzj/prod/docker-compose.yml
  docker/deployment/fzj/staging/docker-compose.yml
  docker/deployment/gfz/prod/docker-compose.yml
  docker/deployment/gfz/sandbox/docker-compose.yml
  docker/deployment/gfz/staging-dev/docker-compose.yml
  docker/deployment/gfz/staging/docker-compose.yml
  docker/deployment/kit/prod/docker-compose.yml
  docker/deployment/kit/staging/docker-compose.yml
Due: none

Add kml mimetypes to the list of allowed uploads
  .gitlab-ci.yml
  CHANGELOG.md
  docker-compose.yml
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Fix mc image source to use quay.io as well
  docker/build/mc/fzj/dev/Dockerfile
  docker/build/mc/fzj/prod/Dockerfile
  docker/build/mc/fzj/staging/Dockerfile
  docker/build/mc/gfz/Dockerfile
Due: none

Use trixie for the build of mq and for the runs of the zenodo publication
  .gitlab-ci.yml
  mq/Dockerfile
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Stop redirecting the shared stage root to SMS CV
  docker/deployment/ufz/staging/values.yaml
Due: none

Update the cv version that is deployed by the UFZ
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Add ilike filter for the elasticsearch data layer
  CHANGELOG.md
  backend/app/project/api/datalayers/esalchemy.py
  backend/app/project/tests/test_esquerybuilder.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Update CV to 1.4.1
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Fix the branch for the README document
  backend/app/templates/openapi.json
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Use images that we have in a local container proxy repo
  CHANGELOG.md
  docker-compose.yml
  docker/build/mc/fzj/dev/Dockerfile
  docker/build/mc/fzj/prod/Dockerfile
  docker/build/mc/fzj/staging/Dockerfile
  docker/build/mc/gfz/Dockerfile
  docker/deployment/fzj/dev/docker-compose.yml
  docker/deployment/fzj/prod/docker-compose.yml
  docker/deployment/fzj/staging/docker-compose.yml
  docker/deployment/gfz/prod/docker-compose.yml
  docker/deployment/gfz/sandbox/docker-compose.yml
  docker/deployment/gfz/staging-dev/docker-compose.yml
  docker/deployment/gfz/staging/docker-compose.yml
  docker/deployment/kit/prod/docker-compose.yml
  docker/deployment/kit/staging/docker-compose.yml
Due: none

Deactivate the nginx server tokens for the gfz prod instances
  docker/build/nginx/gfz/prod/default.conf
  docker/build/nginx/gfz/sandbox/default.conf
Due: none

Switch to s3.gfz.de
  docker/build/mc/gfz/minio_backup.py
Due: none

Bump nginx version for KIT deployment
  docker/deployment/kit/prod/docker-compose.yml
  docker/deployment/kit/staging/docker-compose.yml
Due: none

Update sms-cv to 1.4.2
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Extract the configuration status dynamically by using the start and end dates
  CHANGELOG.md
  backend/app/project/api/datalayers/esalchemy.py
  frontend/components/configurations/ConfigurationExtendedSearch.vue
  frontend/components/configurations/ConfigurationsBasicData.vue
  frontend/components/configurations/ConfigurationsBasicDataForm.vue
  frontend/components/configurations/ConfigurationsListItem.vue
  frontend/models/Configuration.ts
  frontend/pages/configurations/index.vue
  frontend/serializers/jsonapi/ConfigurationSerializer.ts
  frontend/services/Api.ts
  frontend/services/sms/ConfigurationApi.ts
  frontend/services/sms/ConfigurationStatusApi.ts
  frontend/store/configurations.ts
  frontend/test/DynamicLocationActionDateForm.test.ts
  frontend/test/models/Configuration.test.ts
  frontend/test/serializers/jsonapi/ConfigurationSerializer.test.ts
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

fix-test_maintenance_message
  backend/app/project/tests/test_maintenance_message.py
  backend/app/project/views/maintenance.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Reduce backend test runtime
  backend/app/project/sensorml/converters.py
  backend/app/project/tests/api/test_manufacturer_models.py
  backend/app/project/tests/api/test_sensorml_sites.py
  backend/app/project/tests/base.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi
