Repository sensor-management-system/orchestration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Path conditions:
  build-backend-test-image: any of: backend/**/*, .gitlab-ci.yml
  check-lint-frontend: any of: frontend/**/*, .gitlab-ci.yml
  check-build-frontend: any of: frontend/**/*, .gitlab-ci.yml
  check-lint-backend: any of: backend/**/*, .gitlab-ci.yml
  extract-openapi: any of: backend/**/*, .gitlab-ci.yml
  test-frontend-unit-tests: any of: frontend/**/*, .gitlab-ci.yml
  test-backend-image: any of: backend/**/*, .gitlab-ci.yml
  test-openapi: any of: backend/**/*, .gitlab-ci.yml

Resolve "prepare release 1.17.0"
  CHANGELOG.md
Due: none

Add the base url parameter for the docker build of the gfz frontend images
  CHANGELOG.md
  docker/build/nginx/fzj/prod/Dockerfile
  docker/build/nginx/fzj/staging/Dockerfile
  docker/build/nginx/gfz/prod/Dockerfile
  docker/build/nginx/gfz/sandbox/Dockerfile
  docker/build/nginx/gfz/staging/Dockerfile
Due: none

Resolve "Deploy ufz 1.17.0 on stage"
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "Deploy ufz 1.17.0 on prod"
  docker/deployment/ufz/prod/values.yaml
Due: none

Resolve "Rollback ufz to 1.16.3"
  docker/deployment/ufz/prod/values.yaml
Due: none

Resolve "UFZ Bug with routes to entities"
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "UFZ Bug with routes to entities"
  docker/deployment/ufz/prod/values.yaml
Due: none

Resolve "FZJ: Update the footer section content for Prod instance"
  CHANGELOG.md
  frontend/pages/info/legal-notice/fzj.vue
  frontend/pages/info/privacy-policy/fzj.vue
  frontend/pages/info/terms-of-use/fzj.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Switch gfz minio backup to central s3 storage
  .gitlab-ci.yml
  CHANGELOG.md
  docker/build/mc/gfz/Dockerfile
  docker/build/mc/gfz/minio_backup.py
  docker/build/mc/gfz/minio_backup.sh
  docker/build/mc/gfz/projectshare.sh
  docker/deployment/gfz/prod/docker-compose.yml
  docker/deployment/gfz/sandbox/docker-compose.yml
  docker/deployment/gfz/staging/docker-compose.yml
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Try to fix the backup call for the minio at GFZ
  .gitlab-ci.yml
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Adjust gfz name and logo
  CHANGELOG.md
  frontend/components/LogoFooter.vue
  frontend/pages/info/groups/gfz.vue
  frontend/pages/info/legal-notice/gfz.vue
  frontend/pages/info/privacy-policy/gfz.vue
  frontend/pages/info/terms-of-use/gfz.vue
  frontend/static/logos/GFZ-Logo_eng_RGB.svg
  frontend/static/logos/GFZ-Wortbildmarke-EN-Helmholtzdunkelblau-compact.svg
  frontend/static/logos/GFZ-Wortbildmarke-EN-Helmholtzdunkelblau-compact.svg.license
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "Extend unmount functionality to be recursive"
  CHANGELOG.md
  frontend/components/ConfigurationsTreeView.vue
  frontend/components/shared/ExpandableContent.vue
  frontend/models/DeviceMountAction.ts
  frontend/pages/configurations/_configurationId/platforms-and-devices/unmount.vue
  frontend/services/sms/DeviceMountActionApi.ts
  frontend/test/utils/UnmountActionValidator.test.ts
  frontend/utils/UnmountActionValidator.ts
  frontend/utils/configurationInterfaces.ts
  frontend/utils/configurationsTreeHelper.ts
  frontend/viewmodels/ConfigurationNode.ts
  frontend/viewmodels/ConfigurationsTree.ts
  frontend/viewmodels/DeviceNode.ts
  frontend/viewmodels/PlatformNode.ts
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Provide STA endpoints with datastream linkings
  CHANGELOG.md
  docker-compose.yml
  docker/build/nginx/fzj/prod/Dockerfile
  docker/build/nginx/fzj/staging/Dockerfile
  docker/build/nginx/gfz/prod/Dockerfile
  docker/build/nginx/gfz/sandbox/Dockerfile
  docker/build/nginx/gfz/staging/Dockerfile
  docs/Frontend-Environment-Variables.md
  frontend/components/configurations/tsmLinking/TsmLinkingBasicDataTable.vue
  frontend/components/configurations/tsmLinking/TsmLinkingBasicDataTableEntry.vue
  frontend/components/configurations/tsmLinking/TsmLinkingForm.vue
  frontend/docker/generic-image/entrypoint.sh
  frontend/models/TsmdlEntity.ts
  frontend/models/sta/StaDatastream.ts
  frontend/models/sta/StaEntity.ts
  frontend/models/sta/StaThing.ts
  frontend/nuxt.config.js
  frontend/pages/info/legal-notice/fzj.vue
  frontend/serializers/jsonapi/TsmdlDatasourceSerializer.ts
  frontend/serializers/jsonapi/TsmdlEntitySerializer.ts
  frontend/serializers/sta/StaDatastreamSerializer.ts
  frontend/serializers/sta/StaEntitySerializer.ts
  frontend/serializers/sta/StaThingSerializer.ts
  frontend/services/Api.ts
  frontend/services/sta/StaApi.ts
  frontend/store/sta.ts
  frontend/store/tsmLinking.ts
  frontend/test/utils/staQueryHelper.test.ts
  frontend/utils/staQueryHelper.ts
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Fix changelog
  CHANGELOG.md
Due: none

Resolve "Deploy ufz 1.17.2 on stage"
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "Deploy ufz 1.17.2 on prod"
  docker/deployment/ufz/prod/values.yaml
Due: none

Enforce validation of mount contact on mounting devices and platforms
  CHANGELOG.md
  frontend/components/configurations/MountWizard.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Fix linter issue
  frontend/pages/info/legal-notice/gfz.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Improve setting contact of current user
  CHANGELOG.md
  frontend/components/ConfigurationsSelectedItemUnmountForm.vue
  frontend/components/actions/CommonActionForm.vue
  frontend/components/actions/DeviceCalibrationActionForm.vue
  frontend/components/actions/GenericActionForm.vue
  frontend/components/actions/ParameterChangeActionForm.vue
  frontend/components/actions/SoftwareUpdateActionForm.vue
  frontend/components/configurations/MountWizard.vue
  frontend/components/configurations/MountWizardMountForm.vue
  frontend/components/configurations/StaticLocationActionDataForm.vue
  frontend/components/configurations/dynamicLocation/DynamicLocationActionInfoForm.vue
  frontend/pages/configurations/_configurationId/actions/generic-configuration-actions/_actionId/edit.vue
  frontend/pages/configurations/_configurationId/actions/new/generic-configuration-actions.vue
  frontend/pages/configurations/_configurationId/actions/new/parameter-change-actions.vue
  frontend/pages/configurations/_configurationId/actions/parameter-change-actions/_actionId/edit.vue
  frontend/pages/configurations/_configurationId/platforms-and-devices/unmount.vue
  frontend/pages/devices/_deviceId/actions/device-calibration-actions/_actionId/edit.vue
  frontend/pages/devices/_deviceId/actions/generic-device-actions/_actionId/edit.vue
  frontend/pages/devices/_deviceId/actions/new/device-calibration-actions.vue
  frontend/pages/devices/_deviceId/actions/new/generic-device-actions.vue
  frontend/pages/devices/_deviceId/actions/new/parameter-change-actions.vue
  frontend/pages/devices/_deviceId/actions/new/software-update-actions.vue
  frontend/pages/devices/_deviceId/actions/parameter-change-actions/_actionId/edit.vue
  frontend/pages/devices/_deviceId/actions/software-update-actions/_actionId/edit.vue
  frontend/pages/platforms/_platformId/actions/generic-platform-actions/_actionId/edit.vue
  frontend/pages/platforms/_platformId/actions/new/generic-platform-actions.vue
  frontend/pages/platforms/_platformId/actions/new/parameter-change-actions.vue
  frontend/pages/platforms/_platformId/actions/new/software-update-actions.vue
  frontend/pages/platforms/_platformId/actions/parameter-change-actions/_actionId/edit.vue
  frontend/pages/platforms/_platformId/actions/software-update-actions/_actionId/edit.vue
  frontend/test/ConfigurationsSelectedItemUnmountForm.test.ts
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "Error in availabilityReason return string"
  CHANGELOG.md
  frontend/components/shared/BaseMountList.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Updated GFZ organization name
  CHANGELOG.md
  backend/app/migrations/versions/05f3123adb4f_.py
  backend/app/project/static/organization_names.json
  backend/app/project/tests/api/test_contacts.py
  backend/codeassist.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Resolve "Fix duplicated code line"
  CHANGELOG.md
  frontend/pages/platforms/_platformId/attachments/index.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "Remove deprecated code for creating old ufz frontend image"
  .gitlab-ci.yml
  CHANGELOG.md
  frontend/.gitlab-ci.yml
  frontend/docker/deployment/ufz/Dockerfile
  frontend/docker/deployment/ufz/Dockerfile_Prod
  frontend/docker/deployment/ufz/Dockerfile_Stage
  frontend/docker/deployment/ufz/default.conf
  frontend/docker/deployment/ufz/docker-compose.yml
  frontend/docker/deployment/ufz/rdm-test.intranet.ufz.de/deploy.sh
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Switch from "Software Update" to "Software update" etc
  CHANGELOG.md
  frontend/components/actions/SoftwareUpdateActionCard.vue
  frontend/models/ActionKind.ts
  frontend/pages/configurations/_configurationId/actions/parameter-change-actions/_actionId/edit.vue
  frontend/pages/devices/_deviceId/actions/device-calibration-actions/_actionId/edit.vue
  frontend/pages/devices/_deviceId/actions/parameter-change-actions/_actionId/edit.vue
  frontend/pages/devices/_deviceId/actions/software-update-actions/_actionId/edit.vue
  frontend/pages/platforms/_platformId/actions/parameter-change-actions/_actionId/edit.vue
  frontend/pages/platforms/_platformId/actions/software-update-actions/_actionId/edit.vue
  frontend/store/vocabulary.ts
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "Add check for fuzzy matching with existing terms before submitting new CV suggestions"
  CHANGELOG.md
  frontend/components/devices/AggregationTypeDialog.vue
  frontend/components/devices/CompartmentDialog.vue
  frontend/components/devices/CvPropertyDialog.vue
  frontend/components/devices/DeviceTypeDialog.vue
  frontend/components/devices/LicenseDialog.vue
  frontend/components/devices/MeasuredQuantityUnitDialog.vue
  frontend/components/devices/SamplingMediaDialog.vue
  frontend/components/devices/UnitDialog.vue
  frontend/components/platforms/PlatformTypeDialog.vue
  frontend/components/shared/ActionTypeDialog.vue
  frontend/components/shared/ContactRoleDialog.vue
  frontend/components/shared/ManufacturerDialog.vue
  frontend/components/shared/SimilarTermsList.vue
  frontend/components/shared/StatusDialog.vue
  frontend/components/sites/SiteTypeDialog.vue
  frontend/components/sites/SiteUsageDialog.vue
  frontend/layouts/default.vue
  frontend/store/snackbar.ts
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Addresses part of "KIT instance: improve main branch tracking and deployment"
  .gitignore
  backend/app/manage.py
  docker/deployment/kit/prod/docker-compose.yml
  docker/deployment/kit/staging/docker-compose.yml
  frontend/package-lock.json
  frontend/pages/info/groups/kit.vue
  frontend/pages/info/legal-notice/kit.vue
  frontend/pages/info/privacy-policy/kit.vue
  frontend/pages/info/terms-of-use/kit.vue
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Update to docker 27.5.1 for the CI builds
  .gitlab-ci.yml
  CHANGELOG.md
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Readd gfz staging backup job
  .gitlab-ci.yml
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Fix the mq init container
  docker/build/mq_init/gfz/Dockerfile
Due: none

Update prod directory to fix the FZJ deployment
  CHANGELOG.md
  docker/build/nginx/fzj/prod/Dockerfile
Due: none

Resolve "[BUG] Offset Information cleared/error after unmounting device/platform"
  CHANGELOG.md
  frontend/pages/configurations/_configurationId/platforms-and-devices/unmount.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Fix mqtt paths for gfz prod and staging deployments
  docker/deployment/gfz/prod/docker-compose.yml
  docker/deployment/gfz/staging/docker-compose.yml
Due: none

Use bullseye stable for mqtt
  .gitlab-ci.yml
  docker-compose.yml
  mq/Dockerfile
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Update changelog for 1.8.0 release
  CHANGELOG.md
Due: none
