Repository sensor-management-system/orchestration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

build-backend-test-image:
  image: docker:20.10.7
  services:
  - docker:20.10.7-dind
  before_script:
  - - echo "$CI_JOB_TOKEN" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  tags:
  - docker
  - dind
  - hifis
  stage: buildtest
  variables:
  ...

check-lint-frontend:
  stage: check
  image: node:20.17.0-bullseye
  before_script:
  - cd frontend
  - node -v
  - npm ci
  script:
  - npm run lint
  allow_failure: true
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - frontend/node_modules

check-build-frontend:
  stage: check
  image: node:20.17.0-bullseye
  before_script:
  - cd frontend
  - node -v
  - npm ci
  script:
  - npm run build
  allow_failure: false
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - frontend/node_modules

check-lint-backend:
  stage: check
  image: $BACKEND_TEST_IMAGE
  variables:
    DATABASE_TEST_URL: postgresql://$POSTGRES_USER:@$POSTGRES_PASSWORD:5432/$POSTGRES_DB
    WELL_KNOWN_URL: https://webapp.ufz.de/idp/oidc/v1/.well-known/openid-configuration
  ...

extract-openapi:
  image: docker:20.10.7
  services:
  - docker:20.10.7-dind
  before_script:
  - - echo "$CI_JOB_TOKEN" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  tags:
  - docker
  - dind
  - hifis
  stage: extract
  variables:
  ...

test-frontend-unit-tests:
  stage: test
  image: node:20.17.0-bullseye
  before_script:
  - cd frontend
  - node -v
  - npm ci
  script:
  - npm test
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - frontend/node_modules

test-backend-image:
  services:
  - name: postgis/postgis:12-3.3-alpine
    alias: postgres
  variables:
    POSTGRES_DB: db_test
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_TEST_URL: postgresql://$POSTGRES_USER:@$POSTGRES_PASSWORD:5432/$POSTGRES_DB
  ...

test-openapi:
  stage: test
  image: openapitools/openapi-generator-cli
  script:
  - docker-entrypoint.sh generate -i openapi.json -g python -o ./generated_clients/python
  artifacts:
    expire_in: 1 day
    public: false
    paths:
    - generated_clients/python

bumps sms-chart to 0.4.0 on prod
  docker/deployment/ufz/prod/Chart.yaml
  docker/deployment/ufz/prod/values.yaml
Due: none

Resolve "FZJ: Deploy the SMS staging instance on the new VM"
  .gitlab-ci.yml
  CHANGELOG.md
  backend/csv_importer/csv_importer.py
  docker/build/nginx/fzj/staging/Dockerfile
  docker/deployment/fzj/staging/docker-compose.yml
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

bumps sms-chart to 0.5.0-alpha1 on stage
  docker/deployment/ufz/staging/Chart.yaml
Due: none

Allow to search for self created and for entries where the user is a contact
  CHANGELOG.md
  backend/app/project/api/models/configuration.py
  backend/app/project/api/models/contact.py
  backend/app/project/api/models/device.py
  backend/app/project/api/models/platform.py
  backend/app/project/api/models/site.py
  frontend/components/configurations/ConfigurationBasicSearch.vue
  frontend/components/configurations/ConfigurationExtendedSearch.vue
  frontend/components/configurations/MountWizardEntitySelect.vue
  frontend/components/devices/DeviceBasicSearch.vue
  frontend/components/devices/DeviceExtendedSearch.vue
  frontend/components/platforms/PlatformBasicSearch.vue
  frontend/components/platforms/PlatformExtendedSearch.vue
  frontend/components/platforms/PlatformSearch.vue
  frontend/modelUtils/ConfigurationSearchParams.ts
  frontend/modelUtils/DeviceSearchParams.ts
  frontend/modelUtils/PlatformSearchParams.ts
  frontend/modelUtils/SiteSearchParams.ts
  frontend/pages/configurations/index.vue
  frontend/pages/devices/index.vue
  frontend/pages/manufacturer-models/_manufacturerModelId/devices.vue
  frontend/pages/manufacturer-models/_manufacturerModelId/platforms.vue
  frontend/pages/sites/index.vue
  frontend/services/sms/ConfigurationApi.ts
  frontend/services/sms/DeviceApi.ts
  frontend/services/sms/PlatformApi.ts
  frontend/services/sms/SiteApi.ts
  frontend/store/configurations.ts
  frontend/store/devices.ts
  frontend/store/platforms.ts
  frontend/store/sites.ts
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Resolve "FZJ: configure the minio bucket for prod instance"
  .gitlab-ci.yml
  CHANGELOG.md
  docker/build/mc/fzj/prod/Dockerfile
  docker/build/mc/fzj/prod/create_bucket.sh
  docker/build/nginx/fzj/prod/default.conf
  docker/deployment/fzj/prod/docker-compose.yml
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Fix the manage.py function for updating the name fields from the cv
  CHANGELOG.md
  backend/app/manage.py
  backend/app/migrations/versions/3583b07a3c98_.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

bumps sms-chart to 0.5.0 on prod
  docker/deployment/ufz/prod/Chart.yaml
Due: none

Fix platform mount action relationship types
  CHANGELOG.md
  backend/app/project/api/schemas/configuration_schema.py
  backend/app/project/api/schemas/platform_schema.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Add release date 1.27.1
  CHANGELOG.md
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Include all permission groups for super users
  CHANGELOG.md
  backend/app/project/api/resources/user_info.py
  backend/app/project/tests/api/test_configuration_contact_roles.py
  backend/app/project/tests/api/test_configuration_dynamic_begin_actions.py
  backend/app/project/tests/api/test_device_contact_roles.py
  backend/app/project/tests/api/test_involved_devices_for_datastream_links.py
  backend/app/project/tests/api/test_platform_contact_roles.py
  backend/app/project/tests/api/test_platform_images.py
  backend/app/project/tests/api/test_user_info.py
  backend/app/project/tests/base.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Also check the export control attachments when deleting the minio files
  CHANGELOG.md
  backend/app/project/api/resources/base_resource.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Use the right folder for the fzj mc prod docker file
  .gitlab-ci.yml
  CHANGELOG.md
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Release date of 1.27.2 and update of UFZ deployment
  CHANGELOG.md
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Switch back to Marc for the science centre head
  CHANGELOG.md
  frontend/pages/info/legal-notice/gfz.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Fix link to MR in changelog
  CHANGELOG.md
Due: none

Patch Nginx in Dockerimages for UFZ due to security-issues
  CHANGELOG.md
  backend/docker/build/nginx/ufz/Dockerfile
  docker/build/nginx/ufz/staging/Dockerfile
  frontend/docker/generic-image/Dockerfile
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

KIT docker deployment: bump base images / versions for backend, frontend and nginx
  CHANGELOG.md
  docker/deployment/kit/prod/docker-compose.yml
  docker/deployment/kit/staging/docker-compose.yml
Due: none

Set release date for 1.27.3 and update ufz deployment
  CHANGELOG.md
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Update the cv to 1.3.5
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Update version for sms-cv
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Remove mattermost release notification
  .gitlab-ci.yml
  CHANGELOG.md
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Added ± symbol for the accuracy fields
  CHANGELOG.md
  frontend/components/DevicePropertyForm.vue
  frontend/components/DevicePropertyInfo.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "Better default values for parameter value change actions"
  CHANGELOG.md
  frontend/components/actions/CommonActionForm.vue
  frontend/components/actions/DeviceCalibrationActionForm.vue
  frontend/components/actions/GenericActionForm.vue
  frontend/components/actions/ParameterChangeActionForm.vue
  frontend/components/actions/SoftwareUpdateActionForm.vue
  frontend/components/configurations/StaticLocationActionDataForm.vue
  frontend/components/configurations/dynamicLocation/DynamicLocationActionInfoForm.vue
  frontend/components/configurations/dynamicLocation/DynamicLocationWizard.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Improve the preset sql script (Resolve "State of development setup described in README.md ?")
  CHANGELOG.md
  docker-compose.yml
  docker/deployment/fzj/dev/docker-compose.yml
  docker/deployment/fzj/prod/docker-compose.yml
  docker/deployment/fzj/staging/docker-compose.yml
  docker/deployment/gfz/prod/docker-compose.yml
  docker/deployment/gfz/sandbox/docker-compose.yml
  docker/deployment/gfz/staging-dev/docker-compose.yml
  docker/deployment/gfz/staging/docker-compose.yml
  preset-database.sh
  sql/preset-development-and-test-data.sql.example
Due: none

Use non used fields from the device and platform schema
  CHANGELOG.md
  backend/app/project/api/schemas/device_schema.py
  backend/app/project/api/schemas/platform_schema.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Only cache users until exp of the token
  CHANGELOG.md
  backend/app/project/extensions/auth/mechanisms/openidconnect.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Switch from utcnow to now(timezone.utc)
  CHANGELOG.md
  backend/app/project/api/resources/pid_resources.py
  backend/app/project/extensions/auth/mechanisms/openidconnect.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Add prompt:consent query parameter for refresh tokens in the Helmholtz AAI
  CHANGELOG.md
  frontend/config/auth/schemes/customOIDCScheme.js
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Add missing offline_access scopes
  docker/build/nginx/fzj/dev/Dockerfile
  docker/build/nginx/fzj/prod/Dockerfile
  docker/build/nginx/fzj/staging/Dockerfile
  docker/build/nginx/gfz/prod/Dockerfile
  docker/build/nginx/gfz/sandbox/Dockerfile
  docker/build/nginx/gfz/staging/Dockerfile
Due: none

Update the release date and ufz deployment for 1.27.4
  CHANGELOG.md
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve small improvement sort (keywords) entries alphabetical
  CHANGELOG.md
  backend/app/project/api/schemas/configuration_schema.py
  backend/app/project/api/schemas/device_schema.py
  backend/app/project/api/schemas/platform_schema.py
  backend/app/project/api/schemas/site_schema.py
  backend/app/project/api/serializer/fields/sorted_string_list_field.py
  backend/app/project/tests/api/serializers/fields/test_sorted_string_list_field.py
  backend/app/project/tests/api/test_configurations.py
  backend/app/project/tests/api/test_devices.py
  backend/app/project/tests/api/test_platforms.py
  backend/app/project/tests/api/test_sites.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Update release date for 1.28.0
  CHANGELOG.md
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Work around 500er error from b2inst for owner identifier type url
  CHANGELOG.md
  backend/app/project/extensions/b2inst/mappers.py
  backend/app/project/tests/extensions/b2inst/test_mappers.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Release date for 1.28.1
  CHANGELOG.md
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Extend contact fields
  CHANGELOG.md
  backend/app/migrations/versions/1742a81aaf19_.py
  backend/app/project/api/models/contact.py
  backend/app/project/api/schemas/contact_schema.py
  backend/app/project/sensorml/converters.py
  backend/app/project/sensorml/models.py
  backend/app/project/tests/api/test_contacts.py
  backend/app/project/tests/api/test_free_text_field_endpoints.py
  backend/app/project/tests/api/test_sensorml_devices.py
  backend/app/project/views/free_text_field_routes.py
  backend/app/project/views/openapi_parts/free_text_field_endpoints.py
  frontend/components/ContactBasicData.vue
  frontend/components/ContactBasicDataForm.vue
  frontend/models/Contact.ts
  frontend/models/basic/ContactBasicData.ts
  frontend/pages/contacts/_contactId/edit.vue
  frontend/pages/contacts/new.vue
  frontend/pages/info/privacy-policy/fzj.vue
  frontend/pages/info/privacy-policy/gfz.vue
  frontend/pages/info/privacy-policy/kit.vue
  frontend/pages/info/privacy-policy/ufz.vue
  frontend/serializers/jsonapi/ContactSerializer.ts
  frontend/serializers/jsonapi/basic/ContactBasicDataSerializer.ts
  frontend/test/models/TsmLinking.test.ts
  frontend/test/serializers/custom/MountingActionsSerializer.test.ts
  frontend/test/serializers/jsonapi/ConfigurationSerializer.test.ts
  frontend/test/serializers/jsonapi/ContactRoleSerializer.test.ts
  frontend/test/serializers/jsonapi/ContactSerializer.test.ts
  frontend/test/serializers/jsonapi/DeviceCalibrationActionSerializer.test.ts
  frontend/test/serializers/jsonapi/DeviceSerializer.test.ts
  frontend/test/serializers/jsonapi/DynamicLocationActionSerializer.test.ts
  frontend/test/serializers/jsonapi/GenericActionSerializer.test.ts
  frontend/test/serializers/jsonapi/PlatformSerializer.test.ts
  frontend/test/serializers/jsonapi/SoftwareUpdateActionSerializer.test.ts
  frontend/test/serializers/jsonapi/StaticLocationActionSerializer.test.ts
  frontend/test/serializers/jsonapi/composed/devices/actions/DeviceMountActionSerializer.test.ts
  frontend/test/serializers/jsonapi/composed/platforms/actions/PlatformMountActionSerializer.test.ts
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Add administrative area to sites
  CHANGELOG.md
  backend/app/migrations/versions/6dd344b64fa2_.py
  backend/app/project/api/models/site.py
  backend/app/project/api/schemas/site_schema.py
  backend/app/project/sensorml/converters.py
  backend/app/project/tests/api/test_free_text_field_endpoints.py
  backend/app/project/tests/api/test_sensorml_sites.py
  backend/app/project/tests/api/test_sites.py
  backend/app/project/views/free_text_field_routes.py
  backend/app/project/views/openapi_parts/free_text_field_endpoints.py
  frontend/components/ContactBasicData.vue
  frontend/components/sites/SiteBasicData.vue
  frontend/components/sites/SiteBasicDataForm.vue
  frontend/components/sites/SitesListItem.vue
  frontend/models/Contact.ts
  frontend/models/Site.ts
  frontend/serializers/jsonapi/SiteSerializer.ts
  frontend/test/models/Contact.test.ts
  frontend/test/models/Site.test.ts
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Ensure that we treat the entitlements as an array of strings
  CHANGELOG.md
  backend/app/project/extensions/auth/mechanisms/openidconnect.py
  backend/app/project/tests/extensions/test_auth.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Set the release date for version 1.29.0 and update the ufz deployment
  CHANGELOG.md
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Fix unique constraint violation errors on sync
  CHANGELOG.md
  backend/app/migrations/versions/bdf856305061_.py
  backend/app/project/api/models/permission_group_membership.py
  backend/app/project/extensions/auth/mechanisms/openidconnect.py
  backend/app/project/tests/extensions/test_auth.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Path conditions:
  build-backend-test-image: any of: backend/**/*, .gitlab-ci.yml
  check-lint-frontend: any of: frontend/**/*, .gitlab-ci.yml
  check-build-frontend: any of: frontend/**/*, .gitlab-ci.yml
  check-lint-backend: any of: backend/**/*, .gitlab-ci.yml
  extract-openapi: any of: backend/**/*, .gitlab-ci.yml
  test-frontend-unit-tests: any of: frontend/**/*, .gitlab-ci.yml
  test-backend-image: any of: backend/**/*, .gitlab-ci.yml
  test-openapi: any of: backend/**/*, .gitlab-ci.yml
