Repository sensor-management-system/orchestration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Path conditions:
  build-backend-test-image: any of: backend/**/*, .gitlab-ci.yml
  check-lint-frontend: any of: frontend/**/*, .gitlab-ci.yml
  check-build-frontend: any of: frontend/**/*, .gitlab-ci.yml
  check-lint-backend: any of: backend/**/*, .gitlab-ci.yml
  extract-openapi: any of: backend/**/*, .gitlab-ci.yml
  test-frontend-unit-tests: any of: frontend/**/*, .gitlab-ci.yml
  test-backend-image: any of: backend/**/*, .gitlab-ci.yml
  test-openapi: any of: backend/**/*, .gitlab-ci.yml

Fix sandbox deployment
  .gitlab-ci.yml
  CHANGELOG.md
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Fix a changelog link
  CHANGELOG.md
Due: none

Fix mqtt volume name on sandbox
  CHANGELOG.md
  docker/deployment/gfz/sandbox/docker-compose.yml
Due: none

Resolve "Use configuration start date as default mount date in mount wizard"
  CHANGELOG.md
  frontend/components/configurations/MountActionDateForm.vue
  frontend/components/configurations/MountWizard.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "Sandbox deployment failure: Failed to pull images of the stack: compose pull operation failed: invalid reference format"
  CHANGELOG.md
  docker/deployment/gfz/sandbox/docker-compose.yml
Due: none

Resolve "Deploy ufz 1.18.3 on stage"
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "Prepare release 1.18.4"
  CHANGELOG.md
Due: none

Resolve "Deploy ufz 1.18.4 on stage"
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "Deploy ufz 1.18.4 on prod"
  docker/deployment/ufz/prod/values.yaml
Due: none

Legal notice for user self services
  frontend/pages/info/legal-notice/fzj.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

fix 2 typos on frontend landing page
  frontend/pages/index.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "Update the FZJ instance URL in Readme"
  CHANGELOG.md
  README.md
Due: none

added missing changelog entry
  CHANGELOG.md
Due: none

Add FZJ public instance to Zenodo
  zenodo/description.html
Due: none

Update elasticsearch to version 7.17.28
  CHANGELOG.md
  backend/docker-compose.yml
  backend/docker/deployment/ufz/docker-compose.yml
  docker-compose.yml
  docker/deployment/fzj/prod/docker-compose.yml
  docker/deployment/fzj/staging/docker-compose.yml
  docker/deployment/gfz/prod/docker-compose.yml
  docker/deployment/gfz/sandbox/docker-compose.yml
  docker/deployment/gfz/staging-dev/docker-compose.yml
  docker/deployment/gfz/staging/docker-compose.yml
  docker/deployment/kit/prod/docker-compose.yml
  docker/deployment/kit/staging/docker-compose.yml
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Switch for GFZ tsmdl api from gfz-potsdam.de to gfz.de
  .gitlab-ci.yml
  CHANGELOG.md
  docker/deployment/gfz/prod/docker-compose.yml
  docker/deployment/gfz/sandbox/docker-compose.yml
  docker/deployment/gfz/staging-dev/docker-compose.yml
  docker/deployment/gfz/staging/docker-compose.yml
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Resolve "Fix bug with editing mounting date"
  CHANGELOG.md
  frontend/components/configurations/MountActionDateForm.vue
  frontend/pages/configurations/_configurationId/platforms-and-devices/device-mount-actions/_actionId/edit.vue
  frontend/pages/configurations/_configurationId/platforms-and-devices/platform-mount-actions/_actionId/edit.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "Deploy ufz 1.19.0 on stage"
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "Deploy ufz 1.19.0 on prod"
  docker/deployment/ufz/prod/values.yaml
Due: none

Make cosmetic improvements for mount process
  CHANGELOG.md
  frontend/components/actions/MountActionCard.vue
  frontend/components/configurations/MountActionDetailsForm.vue
  frontend/components/configurations/MountActionEditForm.vue
  frontend/components/configurations/MountWizard.vue
  frontend/components/shared/BaseMountInfo.vue
  frontend/pages/configurations/_configurationId/platforms-and-devices/index.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Fix path for favicon
  CHANGELOG.md
  frontend/nuxt.config.js
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Fix publication by deleting unneeded files from former versions
  CHANGELOG.md
  zenodo/publish.py
Due: none

Resolve "Zenodo publication fails"
  zenodo/publish.py
Due: none

Remove old swagger endpoints
  CHANGELOG.md
  backend/app/project/static/swagger.json
  backend/app/project/static/swagger.json.license
  backend/app/project/views/docs.py
  backend/app/templates/swaggerui.html
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Add datastream link labels
  CHANGELOG.md
  backend/app/migrations/versions/158e84e3bc41_.py
  backend/app/project/api/models/datastream_link.py
  backend/app/project/api/schemas/datastream_link_schema.py
  backend/app/project/tests/api/test_datastream_links.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Prepare release of 1.20.0
  CHANGELOG.md
Due: none

Resolve "Deploy UFZ 1.20.0 on STAGE"
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "Deploy UFZ 1.20.0 on PROD"
  docker/deployment/ufz/prod/values.yaml
Due: none

Resolve "Show extended device name on detail view"
  CHANGELOG.md
  frontend/components/AppBarTitle.vue
  frontend/layouts/default.vue
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/devices/_deviceId.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "Improve view of existing data linkings"
  CHANGELOG.md
  frontend/components/configurations/tsmLinking/TsmLinkingFilters.vue
  frontend/components/configurations/tsmLinking/TsmLinkingOverviewTable.vue
  frontend/components/devices/DeviceShortNameSerialNumber.vue
  frontend/components/shared/SimpleAutoComplete.vue
  frontend/pages/configurations/_configurationId/tsm-linking/index.vue
  frontend/plugins/filters.ts
  frontend/store/tsmLinking.ts
  frontend/test/utils/dataLinkingHelper.test.ts
  frontend/utils/dataLinkingHelper.ts
  frontend/utils/dateHelper.ts
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

let the frontend container know about sms frontend url
  CHANGELOG.md
  docker/deployment/kit/prod/docker-compose.yml
  docker/deployment/kit/staging/docker-compose.yml
Due: none

SMS-CV rancher2tanzu
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Update to the cv version 1.3.3
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "Show Release Notes/Changelog somewhere on landing page"
  .gitlab-ci.yml
  CHANGELOG.md
  docker-compose.yml
  docker/build/nginx/fzj/staging/Dockerfile
  docker/build/nginx/gfz/prod/Dockerfile
  docker/build/nginx/gfz/sandbox/Dockerfile
  docker/build/nginx/gfz/staging/Dockerfile
  docker/env.template
  docs/Frontend-Environment-Variables.md
  frontend/components/ReleaseNotes.vue
  frontend/components/ReleaseNotesEntry.vue
  frontend/components/shared/BaseExpandableListItem.vue
  frontend/docker/generic-image/entrypoint.sh
  frontend/mixins/ViewportMixin.ts
  frontend/models/ReleaseNotes.ts
  frontend/nuxt.config.js
  frontend/pages/index.vue
  frontend/serializers/custom/ReleaseNotesSerializer.ts
  frontend/services/Api.ts
  frontend/services/sms/ReleaseNotesApi.ts
  frontend/test/serializers/custom/ReleaseNotesSerializer.test.ts
  scripts/__init__.py
  scripts/bin/__init__.py
  scripts/bin/check_openapi.sh
  scripts/bin/compare_changelog_with_main.sh
  scripts/bin/ensure_vm_max_map_count.sh
  scripts/bin/parse_changelog/__init__.py
  scripts/bin/parse_changelog/__main__.py
  scripts/bin/parse_changelog/errors.py
  scripts/bin/parse_changelog/lines.py
  scripts/bin/parse_changelog/parser.py
  scripts/bin/parse_changelog/utils.py
  scripts/tests/__init__.py
  scripts/tests/test_parse_changelog.py
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Implement 'Show Release Notes/Changelog on landing page' for KIT deployment
  docker/deployment/kit/prod/docker-compose.yml
  docker/deployment/kit/staging/docker-compose.yml
Due: none

Allow to generate PIDs while the description is still None
  CHANGELOG.md
  backend/app/project/extensions/b2inst/mappers.py
  backend/app/project/tests/extensions/b2inst/test_mappers.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Remove the shared state of the mount information
  CHANGELOG.md
  frontend/components/configurations/MountWizard.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Update version number for upcoming release
  CHANGELOG.md
Due: none
