Repository sensor-management-system/orchestration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Path conditions:
  build-backend-test-image: any of: backend/**/*, .gitlab-ci.yml
  check-lint-frontend: any of: frontend/**/*, .gitlab-ci.yml
  check-build-frontend: any of: frontend/**/*, .gitlab-ci.yml
  check-lint-backend: any of: backend/**/*, .gitlab-ci.yml
  extract-openapi: any of: backend/**/*, .gitlab-ci.yml
  test-frontend-unit-tests: any of: frontend/**/*, .gitlab-ci.yml
  test-backend-image: any of: backend/**/*, .gitlab-ci.yml
  test-openapi: any of: backend/**/*, .gitlab-ci.yml

set release date and version for ufz
  CHANGELOG.md
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Update the b2inst interaction for the version 3 of the api
  CHANGELOG.md
  backend/app/project/extensions/b2inst/client.py
  backend/app/project/extensions/b2inst/extension.py
  backend/app/project/extensions/b2inst/mappers.py
  backend/app/project/extensions/b2inst/schemas.py
  backend/app/project/tests/extensions/b2inst/test_client.py
  backend/app/project/tests/extensions/b2inst/test_extension.py
  backend/app/project/tests/extensions/b2inst/test_mappers.py
  backend/app/project/tests/extensions/b2inst/test_schemas.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Fix changelog
  CHANGELOG.md
Due: none

Update of the Changelog and the deployed UFZ version
  CHANGELOG.md
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "FZJ staging: the backend is down after a latest deployment"
  CHANGELOG.md
  docker/build/nginx/fzj/staging/default.conf
  docker/deployment/fzj/staging/docker-compose.yml
Due: none

Resolve "UFZ: Disable sms-idl in prod deployment"
  docker/deployment/ufz/prod/values.yaml
Due: none

Resolve "UFZ: add maintenance url to stage instance via values.yaml""
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "UFZ: remove maintanence url from staging values.yaml"
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "UFZ: STAGE move environment variables for sms-frontend service"
  docker/deployment/ufz/staging/values.yaml
Due: none

_PLACEHOLDER...
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "UFZ: PROD move environment variables to values.yaml for sms-frontend service"
  docker/deployment/ufz/prod/values.yaml
Due: none

resolve shapely wkt error deprecation
  CHANGELOG.md
  backend/app/project/api/serializer/fields/wkt_polygon_field.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Resolve "Update current B2INST_URL for FZJ instances"
  CHANGELOG.md
  docker/deployment/fzj/dev/docker-compose.yml
  docker/deployment/fzj/prod/docker-compose.yml
  docker/deployment/fzj/staging/docker-compose.yml
Due: none

Fix a bug when showing sites without any geometry
  CHANGELOG.md
  frontend/components/sites/SiteOverviewMap.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

KIT deployment: use b2inst test for staging, drop IDL
  CHANGELOG.md
  docker/deployment/kit/staging/docker-compose.yml
Due: none

Remove idl
  .gitlab-ci.yml
  CHANGELOG.md
  docker-compose.yml
  docker/deployment/fzj/dev/docker-compose.yml
  docker/deployment/fzj/prod/docker-compose.yml
  docker/deployment/fzj/staging/docker-compose.yml
  docker/deployment/gfz/prod/docker-compose.yml
  docker/deployment/gfz/sandbox/docker-compose.yml
  docker/deployment/gfz/staging-dev/docker-compose.yml
  docker/deployment/gfz/staging/docker-compose.yml
  docker/deployment/kit/prod/docker-compose.yml
  docker/deployment/kit/staging/docker-compose.yml
  docker/env.template
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Remove link of idl in local dev nginx config
  nginx/locations.conf
Due: none

Resolve "FR: Calibration Action - improve machine readabilty"
  CHANGELOG.md
  backend/app/migrations/versions/9aa14bd36aca_.py
  backend/app/project/api/models/device_parameter.py
  backend/app/project/api/schemas/device_parameter_schema.py
  backend/app/project/tests/api/test_device_parameters.py
  docs/deployments/GFZ.md
  frontend/components/actions/DeviceCalibrationActionForm.vue
  frontend/components/shared/ParameterForm.vue
  frontend/components/shared/ParameterListItem.vue
  frontend/models/Parameter.ts
  frontend/models/ParameterChangeAction.ts
  frontend/pages/devices/_deviceId/actions/new/device-calibration-actions.vue
  frontend/pages/devices/_deviceId/parameters/_parameterId/copy.vue
  frontend/pages/devices/_deviceId/parameters/_parameterId/edit.vue
  frontend/pages/devices/_deviceId/parameters/new.vue
  frontend/serializers/jsonapi/ParameterSerializer.ts
  frontend/store/devices.ts
  frontend/test/serializers/jsonapi/ParameterSerializer.test.ts
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Update the readme
  README.md
Due: none

Remvoe idl section in nginx configs
  docker/build/nginx/fzj/dev/default.conf
  docker/build/nginx/fzj/prod/default.conf
  docker/build/nginx/fzj/staging/default.conf
  docker/build/nginx/gfz/prod/default.conf
  docker/build/nginx/gfz/staging/default.conf
Due: none

move all stage config to orch-repo + adjust b2inst-url
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "FZJ: Configure S3 bucket for the sms-attachments"
  CHANGELOG.md
  docker/build/nginx/fzj/dev/default.conf
  docker/build/nginx/fzj/prod/default.conf
  docker/build/nginx/fzj/staging/Dockerfile
  docker/build/nginx/fzj/staging/default.conf
  docker/deployment/fzj/dev/docker-compose.yml
  docker/deployment/fzj/prod/docker-compose.yml
  docker/deployment/fzj/staging/docker-compose.yml
Due: none

Updated versions for ufz and release date
  CHANGELOG.md
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "FZJ: S3 bucket is unreachable"
  CHANGELOG.md
  docker/deployment/fzj/dev/docker-compose.yml
  docker/deployment/fzj/prod/docker-compose.yml
  docker/deployment/fzj/staging/docker-compose.yml
Due: none

Cleanup KIT docker-compose configs
  docker/deployment/kit/prod/docker-compose.yml
  docker/deployment/kit/staging/docker-compose.yml
Due: none

switch to haproxy
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

moves umbrella chart from k8s-admin-repo to orch repo
  docker/deployment/ufz/prod/Chart.yaml
  docker/deployment/ufz/prod/templates/certificate.yaml
  docker/deployment/ufz/prod/templates/issuer.yaml
  docker/deployment/ufz/staging/Chart.yaml
Due: none

Add png logos
  frontend/static/logos/ufz-sms_logo_abkuerzung_primaer.png
  frontend/static/logos/ufz-sms_logo_abkuerzung_primaer.png.license
  frontend/static/logos/ufz-sms_only_logo_primaer.png
  frontend/static/logos/ufz-sms_only_logo_primaer.png.license
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "FZJ: Configure minio bucket for the sms-attachements"
  .gitlab-ci.yml
  CHANGELOG.md
  docker/build/mc/fzj/dev/Dockerfile
  docker/build/mc/fzj/dev/create_bucket.sh
  docker/build/mc/fzj/staging/Dockerfile
  docker/build/mc/fzj/staging/create_bucket.sh
  docker/build/nginx/fzj/dev/default.conf
  docker/build/nginx/fzj/staging/default.conf
  docker/deployment/fzj/dev/docker-compose.yml
  docker/deployment/fzj/staging/docker-compose.yml
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Resolve "FZJ: Fix the CI pipeline issue with MinIO and MC"
  .gitlab-ci.yml
  CHANGELOG.md
  docker/deployment/fzj/dev/docker-compose.yml
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Added some documentation for the env variables
  README.md
  docker/env.template
Due: none

Updated architecture diagram
  README.md
  docs/deployments/GFZ.md
  docs/images/sms.png
Due: none

Add extra field for us export control classification number
  CHANGELOG.md
  backend/app/migrations/versions/c5f2c6fc971e_.py
  backend/app/project/api/models/export_control.py
  backend/app/project/api/models/manufacturer_model.py
  backend/app/project/api/schemas/export_control_schema.py
  frontend/components/manufacturerModels/ExportControlBasicData.vue
  frontend/components/manufacturerModels/ExportControlBasicDataForm.vue
  frontend/components/manufacturerModels/ManufacturerModelsListItem.vue
  frontend/models/ExportControl.ts
  frontend/serializers/jsonapi/ExportControlSerializer.ts
  frontend/test/serializers/jsonapi/ExportControlSerializer.test.ts
  frontend/test/serializers/jsonapi/ManufacturerModelSerializer.test.ts
  frontend/test/utils/booleanHelpers.test.ts
  frontend/utils/booleanHelpers.ts
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Resolve "FZJ: Assign backend DB port for dev sms instance"
  CHANGELOG.md
  docker/deployment/fzj/dev/docker-compose.yml
Due: none

Updated changelog for 1.27.0 and updated deployed version at UFZ
  CHANGELOG.md
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Small fix in the changelog
  CHANGELOG.md
Due: none

Resolve "FZJ: mc: <ERROR> Unable to make bucket"
  CHANGELOG.md
  docker/build/mc/fzj/dev/create_bucket.sh
  docker/build/mc/fzj/staging/create_bucket.sh
  docker/deployment/fzj/dev/docker-compose.yml
  docker/deployment/fzj/staging/docker-compose.yml
Due: none

Resolve "FZJ: Downloading theattachment is failed"
  CHANGELOG.md
  docker/build/nginx/fzj/dev/default.conf
  docker/build/nginx/fzj/staging/default.conf
Due: none

bumps sms-chart to 0.4.0-alpha0 on stage
  .gitignore
  CHANGELOG.md
  docker/deployment/ufz/staging/Chart.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none
