Repository sensor-management-system/orchestration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

build-backend-test-image:
  image: docker:20.10.7
  services:
  - docker:20.10.7-dind
  before_script:
  - - echo "$CI_JOB_TOKEN" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  tags:
  - docker
  - dind
  - hifis
  stage: buildtest
  variables:
  ...

check-lint-frontend:
  stage: check
  image: node:20.17.0-bullseye
  before_script:
  - cd frontend
  - node -v
  - npm ci
  script:
  - npm run lint
  allow_failure: true
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - frontend/node_modules

check-build-frontend:
  stage: check
  image: node:20.17.0-bullseye
  before_script:
  - cd frontend
  - node -v
  - npm ci
  script:
  - npm run build
  allow_failure: false
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - frontend/node_modules

check-lint-backend:
  stage: check
  image: $BACKEND_TEST_IMAGE
  variables:
    DATABASE_TEST_URL: postgresql://$POSTGRES_USER:@$POSTGRES_PASSWORD:5432/$POSTGRES_DB
    WELL_KNOWN_URL: https://webapp.ufz.de/idp/oidc/v1/.well-known/openid-configuration
  ...

extract-openapi:
  image: docker:20.10.7
  services:
  - docker:20.10.7-dind
  before_script:
  - - echo "$CI_JOB_TOKEN" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  tags:
  - docker
  - dind
  - hifis
  stage: extract
  variables:
  ...

test-frontend-unit-tests:
  stage: test
  image: node:20.17.0-bullseye
  before_script:
  - cd frontend
  - node -v
  - npm ci
  script:
  - npm test
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - frontend/node_modules

test-backend-image:
  services:
  - name: postgis/postgis:12-3.3-alpine
    alias: postgres
  variables:
    POSTGRES_DB: db_test
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_TEST_URL: postgresql://$POSTGRES_USER:@$POSTGRES_PASSWORD:5432/$POSTGRES_DB
  ...

test-openapi:
  stage: test
  image: openapitools/openapi-generator-cli
  script:
  - docker-entrypoint.sh generate -i openapi.json -g python -o ./generated_clients/python
  artifacts:
    expire_in: 1 day
    public: false
    paths:
    - generated_clients/python

Keep the ordering of device properties when copying devices
  CHANGELOG.md
  frontend/models/DeviceProperty.ts
  frontend/serializers/jsonapi/DevicePropertySerializer.ts
  frontend/store/devices.ts
  frontend/test/DevicePropertyForm.test.ts
  frontend/test/models/DeviceProperty.test.ts
  frontend/test/serializers/jsonapi/DeviceCalibrationActionSerializer.test.ts
  frontend/test/serializers/jsonapi/DeviceCalibrationDevicePropertySerialiazer.test.ts
  frontend/test/serializers/jsonapi/DevicePropertySerializer.test.ts
  frontend/test/serializers/jsonapi/DeviceSerializer.test.ts
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "Change login for staging instance"
  CHANGELOG.md
  docker/build/nginx/fzj/staging/Dockerfile
  docker/deployment/fzj/staging/docker-compose.yml
Due: none

Resolve "FZJ: Fix the bugs in privacy policy page"
  CHANGELOG.md
  frontend/pages/info/privacy-policy/fzj.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Update release date and the ufz deployment for version 1.23.2
  CHANGELOG.md
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Add the gfz and sandbox urls to the sms device csv importer
  CHANGELOG.md
  backend/csv_importer/csv_importer.py
  backend/csv_importer/readme.md
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Fix dual use in csv importer
  CHANGELOG.md
  backend/csv_importer/csv_importer.py
  backend/csv_importer/readme.md
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Add fzj instance
  backend/csv_importer/csv_importer.py
  backend/csv_importer/readme.md
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

update KIT tsm endpoints
  CHANGELOG.md
  docker/deployment/kit/prod/docker-compose.yml
  docker/deployment/kit/staging/docker-compose.yml
Due: none

Update legal notice page for gfz
  CHANGELOG.md
  frontend/pages/info/legal-notice/gfz.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "Update UFZ legal notice"
  CHANGELOG.md
  frontend/pages/info/legal-notice/ufz.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Add other FZJ instances to csv_importer.py
  backend/csv_importer/csv_importer.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Enhance usability for CSV import
  CHANGELOG.md
  backend/README.md
  backend/csv_importer/README.md
  backend/csv_importer/csv_importer.py
  backend/csv_importer/readme.md
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Resolve "[Bug] URLs get masked / underscore deleted by FrontEnd"
  CHANGELOG.md
  frontend/components/actions/SoftwareUpdateActionCard.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Fixed URL typos.
  CHANGELOG.md
  backend/csv_importer/csv_importer.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Remove non null constraint for the manufacturer names
  CHANGELOG.md
  backend/app/migrations/versions/bd8274140ca7_.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

More explicit conversion of the device attributes in the csv importer
  CHANGELOG.md
  backend/csv_importer/csv_importer.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Set release date for 1.23.3 and update ufz versions as well
  CHANGELOG.md
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Update the cv prod system to version 1.3.4
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Extend the warning message
  CHANGELOG.md
  frontend/pages/configurations/_configurationId/platforms-and-devices/index.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Fix a problem in the permission group migration
  backend/app/migrations/versions/79cf3f3124ea_.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Work around the problem that the idl user account endpoint contains duplicates
  backend/app/migrations/versions/79cf3f3124ea_.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Reduce the risk of having dupliate permission group memberships
  backend/app/project/extensions/auth/mechanisms/openidconnect.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Set release date for 1 24 0
  CHANGELOG.md
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Make the permission group check more robust
  CHANGELOG.md
  backend/app/project/extensions/auth/mechanisms/openidconnect.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Allow to filter or ignore entries in the entitlements for the permission groups
  CHANGELOG.md
  backend/app/project/config.py
  backend/app/project/extensions/auth/mechanisms/openidconnect.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Set release date for 1.24.1 and update ufz deployments
  CHANGELOG.md
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Include the base path into the qr code generator
  CHANGELOG.md
  frontend/layouts/default.vue
  keycloak/keycloak-init.json
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Adjust handle server due to new certificate
  .gitlab-ci.yml
  CHANGELOG.md
  backend/docker/deployment/ufz/Dockerfile_Prod
  backend/docker/deployment/ufz/Dockerfile_Stage
  docker/deployment/fzj/dev/docker-compose.yml
  docker/deployment/fzj/prod/docker-compose.yml
  docker/deployment/fzj/staging/docker-compose.yml
  docker/deployment/gfz/prod/docker-compose.yml
  docker/deployment/gfz/sandbox/docker-compose.yml
  docker/deployment/gfz/staging/docker-compose.yml
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Set release date for 1.24.2
  CHANGELOG.md
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Update the address of the sms in the mattermost message
  .gitlab-ci.yml
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Allow to copy internal devices as private devices in cases of different creators
  CHANGELOG.md
  frontend/pages/devices/copy/_deviceId.vue
  frontend/pages/platforms/copy/_platformId.vue
  frontend/store/permissions.ts
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "Allow changelog parsing to pass when new version is released"
  CHANGELOG.md
  scripts/bin/parse_changelog/lines.py
  scripts/bin/parse_changelog/parser.py
  scripts/tests/test_parse_changelog.py
Due: none

Update the test depencencies
  backend/app/project/tests/test_cli_commands.py
  backend/app/requirements.txt
  backend/app/test-requirements.txt
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Resolve "Improve data linking form (creating and editing)"
  CHANGELOG.md
  frontend/components/configurations/tsmLinking/TsmLinkingBasicDataTable.vue
  frontend/components/configurations/tsmLinking/TsmLinkingBasicDataTableEntry.vue
  frontend/components/configurations/tsmLinking/TsmLinkingConfirmDialog.vue
  frontend/components/configurations/tsmLinking/TsmLinkingDates.vue
  frontend/components/configurations/tsmLinking/TsmLinkingDeviceMountActionSelect.vue
  frontend/components/configurations/tsmLinking/TsmLinkingForm.vue
  frontend/components/configurations/tsmLinking/TsmLinkingFormItem.vue
  frontend/components/configurations/tsmLinking/TsmLinkingFormItemHeader.vue
  frontend/components/configurations/tsmLinking/TsmLinkingFormPredefinedSettings.vue
  frontend/components/configurations/tsmLinking/TsmLinkingInformation.vue
  frontend/components/configurations/tsmLinking/TsmLinkingMeasuredQuantitySelectItem.vue
  frontend/components/configurations/tsmLinking/TsmLinkingOverviewTable.vue
  frontend/components/configurations/tsmLinking/TsmLinkingReview.vue
  frontend/components/configurations/tsmLinking/TsmLinkingWizard.vue
  frontend/components/devices/LicenseDialog.vue
  frontend/components/shared/Combobox.vue
  frontend/models/TsmLinking.ts
  frontend/pages/configurations/_configurationId/tsm-linking/_linkingId/edit.vue
  frontend/pages/configurations/_configurationId/tsm-linking/new.vue
  frontend/pages/configurations/_configurationId/tsm-linking/new/index.vue
  frontend/serializers/jsonapi/TsmLinkingSerializer.ts
  frontend/serializers/jsonapi/TsmdlDatasourceSerializer.ts
  frontend/serializers/jsonapi/TsmdlThingSerializer.ts
  frontend/store/tsmLinking.ts
  frontend/test/models/TsmLinking.test.ts
  frontend/utils/configurationInterfaces.ts
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Remove hint that the datastream link feature would still be experimental
  CHANGELOG.md
  frontend/pages/configurations/_configurationId/tsm-linking/index.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "Update the FZJ dev instance environment"
  .gitlab-ci.yml
  CHANGELOG.md
  docker/build/nginx/fzj/dev/Dockerfile
  docker/build/nginx/fzj/dev/default.conf
  docker/deployment/fzj/dev/docker-compose.yml
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Resolve "FZJ dev: fix docker port conflicts"
  CHANGELOG.md
  docker/build/nginx/fzj/dev/default.conf
Due: none

Resolve "FZJ dev: fix the Nginx and login redirect issue"
  CHANGELOG.md
  docker/build/nginx/fzj/dev/Dockerfile
  docker/build/nginx/fzj/dev/default.conf
  docker/deployment/fzj/dev/docker-compose.yml
Due: none

updated documentation about nginx config
  docs/Frontend-Generic-Image.md
Due: none

Path conditions:
  build-backend-test-image: any of: backend/**/*, .gitlab-ci.yml
  check-lint-frontend: any of: frontend/**/*, .gitlab-ci.yml
  check-build-frontend: any of: frontend/**/*, .gitlab-ci.yml
  check-lint-backend: any of: backend/**/*, .gitlab-ci.yml
  extract-openapi: any of: backend/**/*, .gitlab-ci.yml
  test-frontend-unit-tests: any of: frontend/**/*, .gitlab-ci.yml
  test-backend-image: any of: backend/**/*, .gitlab-ci.yml
  test-openapi: any of: backend/**/*, .gitlab-ci.yml
