Repository sensor-management-system/orchestration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Path conditions:
  build-backend-test-image: any of: backend/**/*, .gitlab-ci.yml
  check-lint-frontend: any of: frontend/**/*, .gitlab-ci.yml
  check-build-frontend: any of: frontend/**/*, .gitlab-ci.yml
  check-lint-backend: any of: backend/**/*, .gitlab-ci.yml
  extract-openapi: any of: backend/**/*, .gitlab-ci.yml
  test-frontend-unit-tests: any of: frontend/**/*, .gitlab-ci.yml
  test-backend-image: any of: backend/**/*, .gitlab-ci.yml
  test-openapi: any of: backend/**/*, .gitlab-ci.yml

Try to support multiple affiliations
  zenodo/metadata.json
Due: none

Multiple affiliations via api doesn't work
  zenodo/metadata.json
Due: none

Add Jan to the creators
  zenodo/metadata.json
Due: none

Alphabetical sorting of authors after 3 place
  zenodo/metadata.json
Due: none

Add handles for wiki & readme
  zenodo/description.html
  zenodo/publish.py
Due: none

Remove weird looking whitespace
  zenodo/description.html
Due: none

Try to fix the problem of the restart loop for the backend container with respect to the loaddata command
  CHANGELOG.md
  backend/app/entrypoint-dev.sh
  backend/app/entrypoint.sh
  backend/app/manage.py
  backend/app/project/tests/test_cli_commands.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Remove the "The" from the title
  zenodo/metadata.json
Due: none

Changes to make the SMS run out of the box on m2 macs with docker desktop
  CHANGELOG.md
  docker-compose.yml
Due: none

Fix phone number on gfz imprint page
  frontend/pages/info/legal-notice/gfz.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Revised description for Zenodo landing page
  zenodo/description.html
Due: none

Remove double wording of "Earth and Environment"
  zenodo/description.html
Due: none

Use american english for centre & add oxford comma
  zenodo/description.html
Due: none

Switch to american english
  zenodo/description.html
Due: none

Use `initiative` as wording.
  zenodo/description.html
Due: none

Switch to docker image prune
  .gitlab-ci.yml
  CHANGELOG.md
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Make test for variable work again
  backend/app/entrypoint-dev.sh
  backend/app/entrypoint.sh
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

- Added 2 names from https://helmholtz.software/software/sensor-management-system. - Fixed 2 typos.
  zenodo/description.html
  zenodo/metadata.json
Due: none

Update the requirements for 2024-08
  backend/app/requirements.txt
  backend/app/test-requirements.txt
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Try to handle versioning of zenodo publications
  .gitlab-ci.yml
  zenodo/publish.py
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Try to publish right away
  .gitlab-ci.yml
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Fix typo
  zenodo/description.html
Due: none

Fix ordering of persons
  zenodo/metadata.json
Due: none

Fix parsing error of json file
  zenodo/metadata.json
Due: none

Add possible zenodo publish job for prod
  .gitlab-ci.yml
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Update license information & make the publication pipeline ready to work
  .gitlab-ci.yml
  zenodo/description.html.license
  zenodo/metadata.json.license
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Add entry in changelog
  CHANGELOG.md
Due: none

Use right license (eupl)
  zenodo/publish.py
Due: none

Publish right away
  .gitlab-ci.yml
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Add zenodo badge to readme
  README.md
Due: none

For software X publishing we need a top level license.txt file
  LICENSE.txt
Due: none

Try to use an absolute url for the sms-cv git submodule
  .gitlab-ci.yml
  .gitmodules
  CHANGELOG.md
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Add note about the gitlab vs github
  README.md
Due: none

Resize the logo for the readme as a file
  README.md
  logos/RGB/PNG/ufz-sms_logo_name+abkuerzung_primaer_50_percent.png
  logos/RGB/PNG/ufz-sms_logo_name+abkuerzung_primaer_50_percent.png.license
Due: none

Update description about issues in gitlab/github
  README.md
Due: none

Add the filter options for the openapi specs for more id filters for datastream links
  CHANGELOG.md
  backend/app/project/api/schemas/datastream_link_schema.py
  backend/app/project/tests/api/test_datastream_links.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Update the frontend dependencies
  .gitlab-ci.yml
  docker-compose.yml
  docker/build/nginx/fzj/dev/Dockerfile
  docker/build/nginx/fzj/staging/Dockerfile
  docker/build/nginx/gfz/prod/Dockerfile
  docker/build/nginx/gfz/sandbox/Dockerfile
  docker/build/nginx/gfz/staging/Dockerfile
  frontend/components/configurations/MountActionEditForm.vue
  frontend/components/configurations/MountWizard.vue
  frontend/docker/deployment/gfz/Dockerfile
  frontend/docker/deployment/ufz/Dockerfile
  frontend/docker/deployment/ufz/Dockerfile_Prod
  frontend/docker/deployment/ufz/Dockerfile_Stage
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/configurations/_configurationId/platforms-and-devices/unmount.vue
  frontend/pages/info/legal-notice/gfz.vue
  frontend/store/configurations.ts
  frontend/store/devices.ts
  frontend/store/platforms.ts
  frontend/utils/actionHelper.ts
  frontend/utils/mapHelpers.ts
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Resolve "View page for data linkings"
  CHANGELOG.md
  frontend/pages/datastream-links/_linkingId.vue
  frontend/services/Api.ts
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests
