Repository sensor-management-system/orchestration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Path conditions:
  build-backend-test-image: any of: backend/**/*, .gitlab-ci.yml
  check-lint-frontend: any of: frontend/**/*, .gitlab-ci.yml
  check-build-frontend: any of: frontend/**/*, .gitlab-ci.yml
  check-lint-backend: any of: backend/**/*, .gitlab-ci.yml
  extract-openapi: any of: backend/**/*, .gitlab-ci.yml
  test-frontend-unit-tests: any of: frontend/**/*, .gitlab-ci.yml
  test-backend-image: any of: backend/**/*, .gitlab-ci.yml
  test-openapi: any of: backend/**/*, .gitlab-ci.yml

Fix description in the changelog
  CHANGELOG.md
Due: none

Prepare zenodo publication
  .gitlab-ci.yml
  CHANGELOG.md
  zenodo/description.html
  zenodo/description.html.license
  zenodo/metadata.json
  zenodo/metadata.json.license
  zenodo/publish.py
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Show ids for measured quantities
  CHANGELOG.md
  frontend/components/devices/DevicesMeasuredQuantitiesListItem.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Focus on one measured quantity
  CHANGELOG.md
  frontend/components/devices/DevicesMeasuredQuantitiesListItem.vue
  frontend/components/shared/BaseExpandableListItem.vue
  frontend/pages/devices/_deviceId/measuredquantities/_measuredquantityId/index.vue
  frontend/pages/devices/_deviceId/measuredquantities/index.vue
  frontend/pages/measuredquantities/_measuredquantityId.vue
  frontend/services/sms/DevicePropertyApi.ts
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

removed incorrect return value
  frontend/components/configurations/MountWizard.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Add label for ror & note for manufacturer name
  CHANGELOG.md
  frontend/components/shared/ManufacturerDialog.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve problem with flask-cors vulnerability
  backend/app/requirements.txt
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Resolve "Add images for visualization directly after adding the attachment for devices/platforms/configurations/sites"
  CHANGELOG.md
  frontend/mixins/AttachmentsMixin.ts
  frontend/models/Image.ts
  frontend/pages/configurations/_configurationId/attachments/new.vue
  frontend/pages/devices/_deviceId/attachments/new.vue
  frontend/pages/platforms/_platformId/attachments/new.vue
  frontend/pages/sites/_siteId/attachments/new.vue
  frontend/serializers/jsonapi/ImageSerializer.ts
  frontend/store/configurations.ts
  frontend/store/devices.ts
  frontend/store/platforms.ts
  frontend/store/sites.ts
  frontend/test/serializers/jsonapi/ImageSerializer.test.ts
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "Map with sites"
  CHANGELOG.md
  frontend/components/sites/SiteOverviewMap.vue
  frontend/components/sites/SiteOverviewMapPopup.vue
  frontend/components/sites/SitesListItem.vue
  frontend/pages/configurations/index.vue
  frontend/pages/sites/index.vue
  frontend/test/utils/mapHelpers.test.ts
  frontend/utils/mapHelpers.ts
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "Improve style of items in TsmLinkingDeviceSelect"
  CHANGELOG.md
  frontend/components/configurations/tsmLinking/TsmLinkingDeviceSelect.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Change the wording in the validation message for the unmount date of parent platforms
  CHANGELOG.md
  frontend/components/configurations/MountActionEditForm.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Update gfz legal notice page
  CHANGELOG.md
  frontend/pages/info/legal-notice/gfz.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Only check for dynamic lcoation action usage for mounted devices
  CHANGELOG.md
  frontend/pages/configurations/_configurationId/platforms-and-devices/unmount.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "Additional devices in datastream linking"
  CHANGELOG.md
  backend/app/migrations/versions/dd8dc3644fdd_.py
  backend/app/project/api/models/__init__.py
  backend/app/project/api/models/involved_device_for_datastream_link.py
  backend/app/project/api/permissions/rules.py
  backend/app/project/api/resources/__init__.py
  backend/app/project/api/resources/involved_device_for_datastream_link_resources.py
  backend/app/project/api/schemas/datastream_link_schema.py
  backend/app/project/api/schemas/involved_device_for_datastream_link_schema.py
  backend/app/project/tests/api/test_involved_devices_for_datastream_links.py
  backend/app/project/urls.py
  backend/app/project/views/openapi_parts/involved_devices_in_datastream_links.py
  frontend/components/configurations/tsmLinking/TsmLinkingDeviceSelect.vue
  frontend/components/configurations/tsmLinking/TsmLinkingForm.vue
  frontend/components/configurations/tsmLinking/TsmLinkingFormItem.vue
  frontend/components/configurations/tsmLinking/TsmLinkingInformation.vue
  frontend/components/configurations/tsmLinking/TsmLinkingOverviewTable.vue
  frontend/components/configurations/tsmLinking/TsmLinkingReview.vue
  frontend/components/configurations/tsmLinking/TsmLinkingWizard.vue
  frontend/models/Device.ts
  frontend/models/TsmLinking.ts
  frontend/models/TsmLinkingInvolvedDevice.ts
  frontend/pages/configurations/_configurationId/tsm-linking.vue
  frontend/pages/configurations/_configurationId/tsm-linking/_linkingId/edit.vue
  frontend/pages/configurations/_configurationId/tsm-linking/index.vue
  frontend/pages/configurations/_configurationId/tsm-linking/new.vue
  frontend/serializers/jsonapi/TsmLinkingInvolvedDeviceSerializer.ts
  frontend/serializers/jsonapi/TsmLinkingSerializer.ts
  frontend/services/Api.ts
  frontend/services/sms/TsmLinkingApi.ts
  frontend/services/sms/TsmLinkingInvolvedDeviceApi.ts
  frontend/store/configurations.ts
  frontend/test/serializers/jsonapi/TsmLinkingInvolvedDeviceSerializer.test.ts
  frontend/test/serializers/jsonapi/TsmLinkingSerializer.test.ts
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Extend unit dialog for provenance term and ucum case sensitive symbol
  CHANGELOG.md
  frontend/components/devices/MeasuredQuantityUnitDialog.vue
  frontend/components/devices/UnitDialog.vue
  frontend/components/shared/ProvenanceHint.vue
  frontend/models/Unit.ts
  frontend/serializers/jsonapi/UnitSerializer.ts
  frontend/test/serializers/jsonapi/UnitSerializer.test.ts
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Prepare Release 1.16.2
  CHANGELOG.md
Due: none

Update the backend dependencies for the end of october
  backend/app/requirements.txt
  backend/app/test-requirements.txt
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Resolve "Extend image preview"
  CHANGELOG.md
  frontend/components/shared/AttachmentImagesCarousel.vue
  frontend/components/shared/ImageFullscreenView.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "Common form for creating attachments"
  CHANGELOG.md
  frontend/components/shared/AttachmentBasicDataForm.vue
  frontend/components/shared/AttachmentCreateForm.vue
  frontend/mixins/Rules.ts
  frontend/pages/configurations/_configurationId/attachments/_attachmentId/edit.vue
  frontend/pages/configurations/_configurationId/attachments/new.vue
  frontend/pages/devices/_deviceId/attachments/_attachmentId/edit.vue
  frontend/pages/devices/_deviceId/attachments/new.vue
  frontend/pages/platforms/_platformId/attachments/_attachmentId/edit.vue
  frontend/pages/platforms/_platformId/attachments/new.vue
  frontend/pages/sites/_siteId/attachments/_attachmentId/edit.vue
  frontend/pages/sites/_siteId/attachments/new.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

UFZ-Deployments
  docker/deployment/ufz/README.md
  docker/deployment/ufz/argocd-sms.png
  docker/deployment/ufz/argocd-sms.png.license
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

deploy generic frontend image to ufz-stage
  docker/deployment/ufz/staging/values.yaml
Due: none

Frontend 488 update dependencies 2024 10
  frontend/package-lock.json
  frontend/package.json
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Ensure that the message for non available devices or platforms is up to date
  CHANGELOG.md
  backend/app/project/api/resources/mounting_availabilities.py
  backend/app/project/tests/api/test_device_availabilities.py
  backend/app/project/tests/api/test_platform_availabilities.py
  backend/app/project/views/openapi_parts/device_availabilities.py
  backend/app/project/views/openapi_parts/platform_availabilities.py
  frontend/components/shared/BaseMountList.vue
  frontend/models/Availability.ts
  frontend/serializers/controller/AvailabilitySerializer.ts
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

FZJ: CI /CD Update for prod instance
  .gitlab-ci.yml
  docker/build/nginx/fzj/dev/default.conf
  docker/build/nginx/fzj/prod/Dockerfile
  docker/build/nginx/fzj/prod/default.conf
  docker/build/nginx/fzj/prod/nginx.conf
  docker/deployment/fzj/prod/docker-compose.yml
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Resolve "Remove elasticsearch from ufz staging dockerfile"
  docker/build/nginx/ufz/staging/default.conf
Due: none

Resolve "Test new versiopn of generic image at stage"
  docker/deployment/ufz/staging/values.yaml
Due: none

Add hint for wiki on landing page
  CHANGELOG.md
  frontend/pages/index.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Add helper to have the links open as external pages
  CHANGELOG.md
  frontend/components/ContactBasicData.vue
  frontend/components/ContactBasicDataForm.vue
  frontend/components/DeviceBasicData.vue
  frontend/components/DeviceBasicDataForm.vue
  frontend/components/PlatformBasicData.vue
  frontend/components/PlatformBasicDataForm.vue
  frontend/components/contacts/ContactRoleListItem.vue
  frontend/components/contacts/ContactWithRolesListItem.vue
  frontend/components/contacts/ContactsListItem.vue
  frontend/components/sites/SiteBasicData.vue
  frontend/components/sites/SiteBasicDataForm.vue
  frontend/mixins/ExternalUrlLinkMixin.ts
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Prepare release for 1.16.3
  CHANGELOG.md
Due: none

Resolve "Test new version of generic image at ufz stage"
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "deploy 1.16.3 on ufz stage"
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "adjust uft stage deplyoment"
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "Deploy 1.16.3 on ufz prod"
  docker/deployment/ufz/prod/values.yaml
Due: none

Resolve "Generic frontend image"
  .gitlab-ci.yml
  docs/Frontend-Environment-Variables.md
  docs/Frontend-Generic-Image.md
  frontend/components/shared/AttachmentCreateForm.vue
  frontend/config/auth/schemes/customOIDCScheme.js
  frontend/config/auth/schemes/customScheme.js
  frontend/config/uploads.ts
  frontend/docker/generic-image/Dockerfile
  frontend/docker/generic-image/default.conf
  frontend/docker/generic-image/entrypoint.sh
  frontend/layouts/default.vue
  frontend/mixins/UploadRules.ts
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/manufacturer-models/_manufacturerModelId/export-control/attachments/new.vue
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Resolve "test new generic frontend image with latest tag on ufz stage"
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "fix volumeMounts for ufz stage deployment"
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "Display Burger-menu with scrollbar"
  CHANGELOG.md
  frontend/components/LogoFooter.vue
  frontend/layouts/default.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Add snow
  CHANGELOG.md
  frontend/components/SnowOverlay.vue
  frontend/layouts/default.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests
