Repository sensor-management-system/orchestration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

build-backend-test-image:
  image: docker:20.10.7
  services:
  - docker:20.10.7-dind
  before_script:
  - - echo "$CI_JOB_TOKEN" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  tags:
  - docker
  - dind
  - hifis
  stage: buildtest
  variables:
  ...

check-lint-frontend:
  stage: check
  image: node:20.17.0-bullseye
  before_script:
  - cd frontend
  - node -v
  - npm ci
  script:
  - npm run lint
  allow_failure: true
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - frontend/node_modules

check-build-frontend:
  stage: check
  image: node:20.17.0-bullseye
  before_script:
  - cd frontend
  - node -v
  - npm ci
  script:
  - npm run build
  allow_failure: false
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - frontend/node_modules

check-lint-backend:
  stage: check
  image: $BACKEND_TEST_IMAGE
  variables:
    DATABASE_TEST_URL: postgresql://$POSTGRES_USER:@$POSTGRES_PASSWORD:5432/$POSTGRES_DB
    WELL_KNOWN_URL: https://webapp.ufz.de/idp/oidc/v1/.well-known/openid-configuration
  ...

extract-openapi:
  image: docker:20.10.7
  services:
  - docker:20.10.7-dind
  before_script:
  - - echo "$CI_JOB_TOKEN" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  tags:
  - docker
  - dind
  - hifis
  stage: extract
  variables:
  ...

test-frontend-unit-tests:
  stage: test
  image: node:20.17.0-bullseye
  before_script:
  - cd frontend
  - node -v
  - npm ci
  script:
  - npm test
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
    - frontend/node_modules

test-backend-image:
  services:
  - name: postgis/postgis:12-3.3-alpine
    alias: postgres
  variables:
    POSTGRES_DB: db_test
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
    POSTGRES_HOST_AUTH_METHOD: trust
    DATABASE_TEST_URL: postgresql://$POSTGRES_USER:@$POSTGRES_PASSWORD:5432/$POSTGRES_DB
  ...

test-openapi:
  stage: test
  image: openapitools/openapi-generator-cli
  script:
  - docker-entrypoint.sh generate -i openapi.json -g python -o ./generated_clients/python
  artifacts:
    expire_in: 1 day
    public: false
    paths:
    - generated_clients/python

Update UFZ version
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Switch to sensors-sandbox.gfz.de for the sms user test system
  CHANGELOG.md
  docker/build/nginx/gfz/sandbox/Dockerfile
  docker/build/nginx/gfz/sandbox/default.conf
  docker/deployment/gfz/sandbox/docker-compose.yml
Due: none

Use updated debian base images
  .gitlab-ci.yml
  CHANGELOG.md
  backend/Dockerfile
  backend/docker-compose.yml
  backend/docker/deployment/ufz/Dockerfile_Prod
  backend/docker/deployment/ufz/Dockerfile_Stage
  docker-compose.yml
  docker/deployment/kit/prod/docker-compose.yml
  docker/deployment/kit/staging/docker-compose.yml
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Configure landing page with release notes on FZJ prod instance
  CHANGELOG.md
  docker/build/nginx/fzj/prod/Dockerfile
Due: none

KIT deployment updates
  CHANGELOG.md
  docker/deployment/kit/prod/docker-compose.yml
  docker/deployment/kit/staging/docker-compose.yml
Due: none

Resolve "Update: Privacy Policy for FZJ instance with new updates"
  CHANGELOG.md
  frontend/pages/info/privacy-policy/fzj.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Show maintenance informations in frontend fetched from markdown file
  CHANGELOG.md
  docker-compose.yml
  docker/build/nginx/fzj/prod/Dockerfile
  docker/build/nginx/fzj/staging/Dockerfile
  docker/build/nginx/gfz/prod/Dockerfile
  docker/build/nginx/gfz/sandbox/Dockerfile
  docker/build/nginx/gfz/staging/Dockerfile
  docker/deployment/kit/prod/docker-compose.yml
  docker/deployment/kit/staging/docker-compose.yml
  docker/env.template
  frontend/docker/generic-image/entrypoint.sh
  frontend/layouts/default.vue
  frontend/nuxt.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/services/Api.ts
  frontend/services/sms/ProxyApi.ts
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Adjustments for mount action patch requests without attributes
  CHANGELOG.md
  backend/app/project/api/helpers/mounting_checks.py
  backend/app/project/tests/api/helpers/test_mounting_checks.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Show mount ids in the SMS frontend
  CHANGELOG.md
  frontend/components/shared/BaseMountInfo.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

rename 'Copy Mounts' to 'Import Mounts'
  CHANGELOG.md
  frontend/pages/configurations/_configurationId/platforms-and-devices/index.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Fix unsetting of relationships
  CHANGELOG.md
  backend/app/project/api/helpers/location_checks.py
  backend/app/project/api/helpers/mounting_checks.py
  backend/app/project/api/models/mount_actions.py
  backend/app/project/api/schemas/mount_actions_schema.py
  backend/app/project/tests/api/test_configuration_dynamic_begin_actions.py
  backend/app/project/tests/api/test_device_mount_action.py
  backend/app/project/tests/api/test_platform_mount_action.py
  backend/app/project/tests/api/test_sites.py
  frontend/serializers/jsonapi/DeviceMountActionSerializer.ts
  frontend/serializers/jsonapi/PlatformMountActionSerializer.ts
  frontend/test/serializers/jsonapi/DeviceMountActionSerializer.test.ts
  frontend/test/serializers/jsonapi/PlatformMountActionSerializer.test.ts
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Fix mounting validator for null relationships
  CHANGELOG.md
  backend/app/project/api/helpers/mounting_checks.py
  backend/app/project/tests/api/helpers/test_mounting_checks.py
  backend/app/project/tests/api/test_device_mount_action.py
  backend/app/project/tests/api/test_platform_mount_action.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

bump nginx from 1.20 to 1.29
  CHANGELOG.md
  docker/deployment/kit/prod/docker-compose.yml
  docker/deployment/kit/staging/docker-compose.yml
Due: none

Allow the usage statistics endpoint to use boolean values form pythons urlencode transformation
  CHANGELOG.md
  backend/app/project/api/resources/usage_statistics.py
  backend/app/project/tests/api/test_usage_statistics.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Update version of the IDL for prod deployments
  CHANGELOG.md
  docker/deployment/fzj/prod/docker-compose.yml
  docker/deployment/gfz/prod/docker-compose.yml
  docker/deployment/gfz/sandbox/docker-compose.yml
  docker/deployment/kit/prod/docker-compose.yml
  docker/deployment/ufz/prod/values.yaml
Due: none

Resolve "Missing frontend implementation for visibility restrictions"
  CHANGELOG.md
  frontend/components/DeviceBasicDataForm.vue
  frontend/components/PlatformBasicDataForm.vue
  frontend/test/utils/validator.test.ts
  frontend/utils/validator.ts
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Prepare the release of the 1.22.0 version
  CHANGELOG.md
Due: none

Resolve "Update docker compose file for the FZJ instance"
  CHANGELOG.md
  docker/deployment/fzj/staging/docker-compose.yml
Due: none

Update the ufz deployment
  docker/deployment/ufz/prod/values.yaml
  docker/deployment/ufz/staging/values.yaml
Due: none

Resolve "update the front-end sms URL for FZJ staging"
  .gitlab-ci.yml
  CHANGELOG.md
  docker/build/nginx/fzj/staging/Dockerfile
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Switch to gfz de
  CHANGELOG.md
  backend/app/migrations/versions/a57af9d062a7_.py
  docker/build/nginx/gfz/prod/Dockerfile
  docker/build/nginx/gfz/prod/default.conf
  docker/build/nginx/gfz/staging/Dockerfile
  docker/build/nginx/gfz/staging/default.conf
  docker/deployment/gfz/prod/docker-compose.yml
  docker/deployment/gfz/staging/docker-compose.yml
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Add command to update the external urls for the handles
  CHANGELOG.md
  backend/app/manage.py
  backend/app/project/extensions/pid/__init__.py
Due: build-backend-test-image, check-lint-backend, extract-openapi, test-backend-image, test-openapi

Set release date and update the version at UFZ
  CHANGELOG.md
  docker/deployment/ufz/prod/values.yaml
Due: none

Allow sync with IDL no matter the institute
  CHANGELOG.md
  frontend/middleware/login-success.ts
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "fix the OIDC WELL KNOWN URL, Client ID and group conventions for the staging instance"
  CHANGELOG.md
  docker/build/nginx/fzj/staging/Dockerfile
  docker/deployment/fzj/staging/docker-compose.yml
Due: none

Resolve "update docker compose file for FZJ: prod instance"
  CHANGELOG.md
  docker/deployment/fzj/prod/docker-compose.yml
Due: none

Resolve "Implementation of gitlab CI/CD for FZJ dev instance"
  .gitlab-ci.yml
  CHANGELOG.md
  docker/build/nginx/fzj/dev/Dockerfile
  docker/build/nginx/fzj/dev/default.conf
  docker/build/nginx/fzj/dev/nginx.conf
  docker/deployment/fzj/dev/docker-compose.yml
  frontend/middleware/login-success.ts
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Resolve "FZJ dev: Fix the docker file"
  CHANGELOG.md
  docker/build/nginx/fzj/dev/Dockerfile
Due: none

Fix a linter issue that complains about non used variable
  frontend/middleware/login-success.ts
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Switch from site usage to land usage
  CHANGELOG.md
  backend/app/project/sensorml/converters.py
  backend/app/project/tests/api/test_sensorml_sites.py
  frontend/components/sites/SiteBasicData.vue
  frontend/components/sites/SiteBasicDataForm.vue
  frontend/components/sites/SiteUsageDialog.vue
  frontend/pages/sites/index.vue
Due: build-backend-test-image, check-lint-frontend, check-build-frontend, check-lint-backend, extract-openapi, test-frontend-unit-tests, test-backend-image, test-openapi

Resolve "FZJ: update and fix nginx config and backend tag"
  CHANGELOG.md
  docker/build/nginx/fzj/dev/default.conf
  docker/deployment/fzj/dev/docker-compose.yml
Due: none

update KIT deployment data management contact email
  CHANGELOG.md
  frontend/pages/info/legal-notice/kit.vue
  frontend/pages/info/privacy-policy/kit.vue
  frontend/pages/info/terms-of-use/kit.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Resolve "FZJ dev: minio host not found in nginx"
  CHANGELOG.md
  docker/build/nginx/fzj/dev/default.conf
Due: none

Revert "Merge branch '353-fzj-dev-minio-host-not-found-in-nginx' into 'main'"
  CHANGELOG.md
  docker/build/nginx/fzj/dev/default.conf
Due: none

Add support for the exportcontrol.gfz.de page
  CHANGELOG.md
  docker/build/nginx/gfz/prod/default.conf
Due: none

Ufz deployment and setting of the release date for 1.23.1
  CHANGELOG.md
  docker/deployment/ufz/prod/values.yaml
Due: none

Use updated gfz name
  CHANGELOG.md
  zenodo/description.html
  zenodo/metadata.json
Due: none

Upgrade ufz sms staging version to 1.23.1
  docker/deployment/ufz/staging/values.yaml
Due: none

Update idl to fetch entitlements into the backend
  CHANGELOG.md
  docker/deployment/fzj/prod/docker-compose.yml
  docker/deployment/gfz/prod/docker-compose.yml
  docker/deployment/gfz/sandbox/docker-compose.yml
  docker/deployment/kit/prod/docker-compose.yml
  docker/deployment/ufz/prod/values.yaml
Due: none

Resolve "Fix showing release notes when using the generic frontend image"
  CHANGELOG.md
  frontend/docker/generic-image/entrypoint.sh
  frontend/nuxt.config.js
  frontend/pages/index.vue
Due: check-lint-frontend, check-build-frontend, test-frontend-unit-tests

Path conditions:
  build-backend-test-image: any of: backend/**/*, .gitlab-ci.yml
  check-lint-frontend: any of: frontend/**/*, .gitlab-ci.yml
  check-build-frontend: any of: frontend/**/*, .gitlab-ci.yml
  check-lint-backend: any of: backend/**/*, .gitlab-ci.yml
  extract-openapi: any of: backend/**/*, .gitlab-ci.yml
  test-frontend-unit-tests: any of: frontend/**/*, .gitlab-ci.yml
  test-backend-image: any of: backend/**/*, .gitlab-ci.yml
  test-openapi: any of: backend/**/*, .gitlab-ci.yml
